<?xml version="1.0" encoding="utf-8"?>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.mozilla.focus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <!-- Since targeting version 28: Need this permission to run foreground services. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Needed to prompt the user to give permission to install a downloaded apk -->
    <uses-permission-sdk-23 android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- Permission needed to publish the app on Samsung AppStore -->
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        android:name="org.mozilla.focus.FocusApplication">

        <activity
            android:name="org.mozilla.focus.activity.MainActivity"
            android:enabled="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|mcc|mnc|orientation|screenSize|locale|layoutDirection|smallestScreenSize|screenLayout"
            android:launchMode="singleTask"
            android:exported="false" />

        <activity android:name="org.mozilla.rocket.component.RocketLauncherActivity" />

        <activity-alias
            android:name="org.mozilla.rocket.activity.MainActivity"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher"
            android:exported="true"
            android:label="@string/app_name"
            android:targetActivity="org.mozilla.rocket.component.RocketLauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/xhtml+xml" />
            </intent-filter>

        </activity-alias>

        <activity
            android:name="org.mozilla.focus.activity.TextActionActivity"
            android:enabled="true"
            android:exported="true"
            android:label="@string/text_selection_search_action"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.mozilla.rocket.privately.PrivateModeActivity"
            android:enabled="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:process=":private_mode"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:taskAffinity=""
            android:theme="@style/PrivateModeTheme"
            android:windowSoftInputMode="adjustResize">


        </activity>

        <!-- SettingsActivity title is set dynamically for multilocale support -->
        <activity
            android:name="org.mozilla.focus.activity.SettingsActivity"
            android:enabled="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme"
            android:configChanges="locale" />

        <activity
            android:name="org.mozilla.focus.activity.InfoActivity"
            android:enabled="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme" />

        <activity
            android:name="org.mozilla.focus.screenshot.ScreenshotViewerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- This will either be an actual FCM messaging service, or a dummy service that do nothing-->
        <service
            android:name="org.mozilla.focus.notification.RocketMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- Custom Tabs Service is currently not registering the intent-filter before its ready.
             It should also be set to exported=true if you want to turn it on -->
        <service
            android:name="org.mozilla.focus.customtabs.CustomTabsService"
            android:enabled="false"
            android:exported="false"
            tools:ignore="ExportedService" />

        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/surveyNotificationAccent"/>

        <provider
            android:name="org.mozilla.focus.provider.HistoryProvider"
            android:authorities="${applicationId}.provider.historyprovider"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="org.mozilla.focus.provider.ScreenshotProvider"
            android:authorities="${applicationId}.provider.screenshotprovider"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="org.mozilla.focus.provider.DownloadInfoProvider"
            android:authorities="${applicationId}.provider.downloadprovider"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="org.mozilla.focus.provider.SettingProvider"
            android:authorities="${applicationId}.provider.settingprovider"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <receiver
            android:name="org.mozilla.focus.components.DownloadCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="org.mozilla.focus.notification.NotificationActionBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="action_notification"/>
            </intent-filter>
        </receiver>

        <receiver android:name="org.mozilla.rocket.periodic.PeriodicReceiver"
            android:exported="false"
            android:enabled="true" />

        <service
            android:name="org.mozilla.focus.components.RelocateService"
            android:exported="false" />

        <provider
            android:name="org.mozilla.focus.provider.FirebaseHelperProvider"
            android:authorities="${applicationId}.provider.firebasehelperprovider"
            android:enabled="true"
            android:exported="false"
            android:initOrder="100" />

        <service
            android:name="org.mozilla.focus.components.ComponentToggleService"
            android:enabled="true"
            android:exported="false">
            <!-- The enabled state should be converted to resource value and diff in 21~23 and 24~ -->
        </service>

        <service
            android:name="org.mozilla.rocket.component.PrivateSessionNotificationService"
            android:process=":private_mode" />

        <activity
            android:enabled="false"
            android:exported="true"
            android:name="org.mozilla.rocket.component.ConfigActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:icon="@drawable/menu_settings"
            android:label="@string/menu_settings">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.EditBookmarkActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_edit_bookmark" />
        <activity
            android:name="org.mozilla.rocket.nightmode.AdjustBrightnessDialog"
            android:theme="@style/TransparentTheme"
            android:exported="false" />
    </application>

</manifest>
