<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="org.mozilla.rocket.geckopower">
    <dist:module
            dist:onDemand="true"
            dist:instant="false"
            dist:title="@string/title_geckopower">
        <dist:fusing dist:include="false"/>
    </dist:module>
    <application/>
</manifest>
